<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventario.Properties.Settings.inventarioConnectionString"
            connectionString="Data Source=DESKTOP-6HBE9KH\SQLEXPRESS;Initial Catalog=inventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>